/* 
    O programa é composto por Corpo, Cabeçalho, Rodapé, Perfil Imagem, Perfil Introdução, Botões, Seção, Curriculo, Projetos, Formulário
*/


/* Corpo */
body {   
    /* Estilo do Corpo da Página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: #000000;
}

main {
    /* Estilo do Corpo Principal da Página */
    padding: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
}


/* Cabeçalho */
header {
    /* Estilo do Cabeçalho da Página */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    color: white;
}

.dot {
    /* Estilo do Ponto ao Lado do Nome e Profissão */
    height: 15px;
    width: 15px;
    background-color: rgb(111, 0, 255);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.name {
    /* Estilo do Nome */
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
}

.title {
    font-weight: bold;
    font-size: 14px;
}

nav a {
    /* Estilo do Menu */
    margin: 0 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}


/* Rodapé */
footer {
    /* Estilo do Rodapé */
    background-color: #000000;
    padding: 15px;
}

footer p {
    font-size: 14px;
    color: #ffffff;
}


/* Perfil Imagem*/
.perfil {
    /* Estilo do Perfil */
    display: flex;
    flex-wrap: wrap;
}

.perfil .foto_de_perfil img {
    /* Estilo do Formato da Imagem */
    width: 450px;
    height: 450px;
    border-radius: 5%;
    margin-top: 40px;
    margin-left: 70px; 
}


/* Perfil Introdução */
.introducao {
    color: #ffffff;
    margin-left: 140px;
    margin-top: 60px;
}

.introducao h1 {
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(201, 201, 201, 0.5);
}

.introducao p {
    /* Estilo da introdução/Sobre parágrafo normal */
    max-width: 600px;
    margin: 0 auto;
    padding: 2px;
    font-weight: bold;
    font-size: 16px;
}

.linguagem {
    color: yellow;
}


/* Botões */
.buttons {
    /* Estilo dos Botões Interativos */
    display: flex;
    justify-content: center;
}

.buttons button {
    /* Estilo do Formato dos Botões Interativos */
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:nth-child(1) {
    /* Estilo do Botão Currículo */
    background-color: #01b907;
    color: black;
}

.buttons button:nth-child(2) {
    /* Estilo do Botão Projetos */
    background-color: #0077d8;
    color: black;
}

.buttons button:nth-child(3) {
    /* Estilo do Botão Contato */
    background-color: #d40e00;
    color: black;
}

/* Contatos */
.contatos img {
    width: auto; 
    height: 80px;
    padding: 5px;
}

/* Caarrosel dinâmico */
.carrossel {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-left: 30px;
}

.carrossel-track {
    display: flex;
    gap: 15px;
    animation: marquee 30s linear infinite;
}

.carrossel-track img {
    width: 80px;
    height: auto;
}



/* Estilo da Seção */
section.hidden {
    display: block;
}



/* Curriculo */
#curriculo {
    /* Estilo do Currículo */
    padding: 20px;
    color: white;
}

#curriculo h2 {
    /* Estilo do Parágrafo Principal do Currículo */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.educacao p {
    font-family: 'Times New Roman', Times, serif;
}

.educacao p2 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 100%;
    text-align: left;
}

.educacao,
.cursos-complementares {
    margin-bottom: 20px;
}

.educacao h4,
.cursos-complementares h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.educacao h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.educacao p1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
}

.educacao p,
.cursos-complementares ul {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cursos-complementares ul {
    list-style-type: disc;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 20px;
}

.cursos-complementares ul li {
    font-size: 16px;
    margin-top: 10px;
    padding: 1px;
    display: block;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/* Projetos */
.projetos {
    color: #ffffff;
}

.projetos h4 {
    /* Estilo do Parágrafo com os Nomes dos Projetos */
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.projetos p {
    /* Estilo do Parágrafo com Explicação dos Projetos */
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.projetos img {
    /* Estilo do formato das Imagens dos Projetos */
    width: 300px;
    height: 300px;
    border-radius: 5%;
    overflow: hidden;
    margin-right: 20px;
}



/* Formulário */
.hidden {
    color: white;
}

section.contatos {
    /* Estilo da Seção Contatos */
    padding: 80px;
}

form {
    /* Estilo dos Formulários do Contato */
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    /* Estilo das Áreas Escritas do Contato */
    width: 100%;
    background-color: #666668;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;

}

form textarea {
    resize: none;
    max-height: 200px;
    font-weight: bold;
    font-size: 18px;
}

form .enviar {
    margin-top: 20px;
    text-align: center;
}

form .enviar input {
    width: 120px;
    background-color: #666668;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}



/* .social-media {
    display: flex;
    flex-direction: row;
}

.social-media a {
    color: black;
    font-family:'Times New Roman', Times, serif
}

.social-media p span {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
} */